.letter-container {
    font-size: 46px;
    border: 3px solid dimgrey;
    float: left;
    height: 2em;
    width: 2em;
    padding: 5px;
    margin: 0.1em;
    box-sizing: border-box;
    transition: background-color;
}

.letter-container:nth-child(2) {
    transition-delay: 100ms;
}
.letter-container:nth-child(3) {
    transition-delay: 200ms;
}
.letter-container:nth-child(4) {
    transition-delay: 300ms;
}
.letter-container:nth-child(5) {
    transition-delay: 400ms;
}
.letter-container:nth-child(6) {
    transition-delay: 500ms;
}
.letter-container:nth-child(7) {
    transition-delay: 600ms;
}
.letter-container:nth-child(8) {
    transition-delay: 700ms;
}
.letter-container:nth-child(9) {
    transition-delay: 800ms;
}

.letter-container.active {
    border: 5px solid dimgrey;
}

.letter-container.show-marking-green{
    background-color: forestgreen;
}

.letter-container.show-marking-yellow{
    background-color: orange;
}

.letter-container.show-marking-black{
    background-color: black;
}

.letter {
    margin: 5px;
    text-align: center;
}