svg {
    padding-left: 6px;
    padding-top:2px;
    vertical-align: -0.1em !important;
    cursor: pointer;
}

h1 {margin-bottom: 0.4em !important;}

.submission-text p {
    margin-top: 0.1em !important;
}